/.dart_tool
/.idea
/test
/gradlew.bat
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/pubspec.lock
temp
*.log
build
android/.idea/caches
android/.idea/libraries
android/.idea/modules
android/.idea/assetWizardSettings.xml
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/vcs.xml
android/.idea/workspace.xml
.DS_Store