<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519503435578-v0eldl1pv3dpacl7iqf4mujpfe5jrcib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519503435578-v0eldl1pv3dpacl7iqf4mujpfe5jrcib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519503435578-4dcjj9d1up8bnt19ohmvu2qjjomrqf07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsow1ykGQK6MbRoYGqjehw7Qu9XzY8be8</string>
	<key>GCM_SENDER_ID</key>
	<string>519503435578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanis.flutter</string>
	<key>PROJECT_ID</key>
	<string>alanis-83a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>alanis-83a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519503435578:ios:fa5afc1d363bf052f66203</string>
</dict>
</plist>