<!--
  ~  @copyright : ToXSL Technologies Pvt. Ltd. < www.toxsl.com >
  ~  @author     : Shiv Charan Panjeta < shiv@toxsl.com >
  ~  All Rights Reserved.
  ~  Proprietary and confidential :  All information contained herein is, and remains
  ~  the property of ToXSL Technologies Pvt. Ltd. and its partners.
  ~ Unauthorized copying of this file, via any medium is strictly prohibited.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.alanis">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
